<html>
  <head>
    <title>Streaming </title>
    <!-- Latest compiled and minified CSS -->
    <style>
      body {display:flex; align-items:center;justify-content:center;flex-direction:column;}
    </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  </head>
  <body>

    <h1>Streaming </h1>
      <form action="/" role="form" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <div class="custom-file">
            <label>Select Video:</label>
            <input type="file" id="vid" name="vid" accept="video/*" class="custom-file-input">
            <label class="custom-file-label" for="vid"></label>
          </div>
          <button type="submit" class="btn btn-primary" >Upload Video</button>
        </div>
      </form>




  </body>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</html>